.header {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #6985FF;

  a {
    color: #fff;
  }
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #fff;
  max-width: 900px;
  margin: 0 auto 0;
}

.main {
  display: flex;
  flex-direction: column-reverse;
}

.label {
  color: #929292;
  font-size: 0.7rem;
  margin-bottom: 4px;
}

.field {
  margin-bottom: 15px;
}

.value {
  font-size: 0.9rem;
  font-weight: 600;
}

.title {
  margin: 0 0 2rem;
}

.img {
  width: 100%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  max-height: 400px;
  border-radius: 10px;
}

.specs {
  font-size: 0.8rem;
  width: 100%;
  flex-grow: 1;
  margin-left: 0;
  margin-bottom: 1rem;
}

.poverka {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  
  p {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    width: 48%;
  }

  .hot {
    background: linear-gradient(123deg, #FF6A8E 0%, #FF8D8D 54.17%, #FF7B73 100%);
  }

  .cold {
    background: linear-gradient(129deg, #5DB7D1 0%, #518CC3 100%); 
  }
}

.footer {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.files {
  font-size: 0.8rem;
  min-width: 40%;
  width: 100%;

  button {
    float: right;
  }
}

@media (min-width: 640px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .img {
    max-width: 40%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }

  .specs {
    width: 55%;
    margin-left: 2rem;
  }

  
}