.main {
  display: flex;
  flex-wrap: wrap;
}

.label {
  color: #929292;
  font-size: 0.7rem;
  margin-bottom: 4px;
}

.field {
  margin-bottom: 15px;
}

.value {
  font-size: 0.9rem;
  font-weight: 600;
}

.title {
  margin: 0 0 2rem;
}

.img {
  width: 40%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
}

.specs {
  font-size: 0.8rem;
  width: 55%;
  flex-grow: 1;
  margin-left: 2rem;
}

.footer {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.files {
  font-size: 0.8rem;
  min-width: 40%;

  button {
    float: right;
  }
}

@media (max-width: 640px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
  }

  .img {
    width: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }

  .specs {
    font-size: 0.8rem;
    width: 100%;
    flex-grow: 1;
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .files {
    width: 100%;
  }
}