.product {
    display: flex;
    gap: 1rem;
}

.thumb {
    width:100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.type {
    max-height: 1.1rem;
    overflow: hidden;
    word-wrap: break-word;
}

.title {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5.4em;
    // line-height: 1.8em;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.producer {
    color: #929292;
}

@media (max-width: 640px) {
    .product {
        gap: 10px;
    }

    .info {
        font-size: 11px;
    }

    .title {
        font-size: 12px;
        max-height: 5.4em;
        // line-height: 1.8em;

        a {
            color: #000;
        }
    }
}